@font-face {
  font-family: 'Fira Sans';
  src: url($url-font + 'fonts/FiraSans/FiraSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Fira Sans';
  src: url($url-font + 'fonts/FiraSans/FiraSans-Regular.ttf');
  font-weight: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans';
  src: url($url-font + 'fonts/FiraSans/FiraSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Sans';
  src: url($url-font + 'fonts/FiraSans/FiraSans-Bold.ttf');
  font-weight: bold;
  font-weight: 700;
}