@font-face {
  font-family: 'Fira Sans';
  src: url("./../fonts/FiraSans/FiraSans-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: 'Fira Sans';
  src: url("./../fonts/FiraSans/FiraSans-Regular.ttf");
  font-weight: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Fira Sans';
  src: url("./../fonts/FiraSans/FiraSans-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: 'Fira Sans';
  src: url("./../fonts/FiraSans/FiraSans-Bold.ttf");
  font-weight: bold;
  font-weight: 700; }

html {
  scroll-behavior: smooth;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  /* outline: 1px solid red; */ }

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 100%;
  color: #344550; }

h1, h2, h3, h4, h5, h6 {
  color: #344550; }

a {
  text-decoration: none; }
  a:hover, a:active {
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }

.sr-only {
  display: none; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120em;
  /* 1920/16 */
  padding: 0 1.25em;
  /* 20/16 */
  margin: 0 auto; }

.btn {
  white-space: nowrap;
  display: inline-block;
  margin-top: 6.666666666666667em;
  /* 200/30 */
  padding: 1.1666666666666667em 4.666666666666667em;
  /* 35/30 */
  /* 140/30 */
  min-width: 10em;
  /* 300/30 */
  font-size: 1.875em;
  /* 30/16 */
  font-weight: 500;
  border-radius: 3.3333333333333335em;
  /* 100/30 */ }
  .btn:hover, .btn:focus {
    background: #344550;
    color: #ffffff; }

.btn-green {
  background: #b1c800;
  color: #ffffff; }

.btn-white {
  background: #ffffff;
  color: #1274e2; }

.btn-blue {
  background: #008ed5;
  color: #ffffff; }

.bg-blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#1163b2), to(#1c5fae)) 0 0 no-repeat;
  background: -webkit-linear-gradient(#1163b2, #1c5fae) 0 0 no-repeat;
  background: -o-linear-gradient(#1163b2, #1c5fae) 0 0 no-repeat;
  background: linear-gradient(#1163b2, #1c5fae) 0 0 no-repeat; }

.bg-green {
  background: #b1c800; }

.section {
  position: relative;
  z-index: 0;
  padding: 12.5em 0;
  /* 200/16 */
  text-align: center; }
  .section.bg-blue .section-subtitle,
  .section.bg-blue .title, .section.bg-green .section-subtitle,
  .section.bg-green .title {
    color: #ffffff; }
  .section.bg-blue .section-title {
    color: #DCE7ED; }
  .section.bg-blue .circle {
    -webkit-box-shadow: 0 0.3125em 2.1875em rgba(21, 43, 92, 0.44);
    box-shadow: 0 0.3125em 2.1875em rgba(21, 43, 92, 0.44);
    /* 5/16 */
    /* 35/16 */ }
  .section .container {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .section .item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 4.375em;
    /* 70/16 */ }
    .section .item:hover .circle-text, .section .item:focus .circle-text {
      background: -webkit-gradient(linear, left top, left bottom, from(#4379E3), to(#3F5AA5));
      background: -webkit-linear-gradient(#4379E3, #3F5AA5);
      background: -o-linear-gradient(#4379E3, #3F5AA5);
      background: linear-gradient(#4379E3, #3F5AA5);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #ffffff;
      -webkit-transition: 2s zoom ease-in-out;
      -o-transition: 2s zoom ease-in-out;
      transition: 2s zoom ease-in-out;
      height: 9.075em;
      /* 363/40 */
      width: 9.075em;
      /* 363/40 */
      border-radius: 9.075em;
      /* 363/40 */ }
      .section .item:hover .circle-text:before, .section .item:focus .circle-text:before {
        content: '';
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 1.75em;
        /* 70/40 */
        width: 1.75em;
        /* 70/40 */
        background: #ffffff;
        border-radius: 1.75em;
        /* 70/40 */
        margin-bottom: 0.5em;
        /* 20/40 */ }
  .section .circle {
    height: 22.6875em;
    /* 363/16 */
    width: 22.6875em;
    /* 363/16 */
    border-radius: 22.6875em;
    /* 363/16 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0.3125em 2.1875em rgba(13, 28, 43, 0.06);
    box-shadow: 0 0.3125em 2.1875em rgba(13, 28, 43, 0.06);
    /* 5/16 */
    /* 35/16 */
    background: #ffffff;
    position: relative; }
    .section .circle img {
      position: relative;
      z-index: 1;
      max-height: 12.5em;
      /* 200/16 */ }
  .section .circle-text {
    position: absolute;
    z-index: 3;
    font-size: 2.5em;
    /* 40/16 */
    font-weight: 700;
    display: none; }
  .section .title {
    font-size: 2.8125em;
    /* 45/16 */
    line-height: 1.5555555555555556em;
    /* 70/45 */
    margin: 0;
    color: #344550;
    margin-top: 1.5555555555555556em;
    /* 70/45 */ }

.section-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: -1;
  overflow: hidden;
  font-size: 31.25em;
  /* 500/16 */
  font-weight: bold;
  font-weight: 700;
  opacity: .03;
  white-space: nowrap;
  letter-spacing: 0.04em;
  /* 20/500 */
  margin: 0 auto;
  width: 100%;
  line-height: .9; }

.section-subtitle {
  margin: 0;
  font-size: 3.75em;
  /* 60/16 */
  font-weight: 300;
  margin-bottom: 1.1666666666666667em;
  /* 70/60 */ }

@-webkit-keyframes zoom {
  from {
    height: 0;
    width: 0;
    border-radius: 0; }
  to {
    height: 9.075em;
    width: 9.075em;
    border-radius: 9.075em; } }

@keyframes zoom {
  from {
    height: 0;
    width: 0;
    border-radius: 0; }
  to {
    height: 9.075em;
    width: 9.075em;
    border-radius: 9.075em; } }

/* HEADER */
.border {
  position: absolute;
  top: 0;
  background: #438DD1;
  height: 1em; }

.header {
  height: 10em;
  /* 160/16 */ }
  .header.container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.logo {
  margin: 0;
  font-size: 2em;
  /* 32/16 */
  background: url("./..//img/logo.svg") 0 0 no-repeat;
  background-size: contain;
  width: 10.125em;
  /* 324/32 */
  height: 2.65625em;
  /* 85/32 */
  min-width: 10.125em;
  /* 324/32 */
  text-indent: -624.9375em;
  /* 9999/16 */ }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  height: 5em;
  /* 80/16 */ }

.nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
  height: 5.3125em;
  /* 85/16 */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none; }
  .menu.show .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.nav-link {
  display: inline-block;
  color: #73787D;
  font-weight: 500;
  font-size: 2em;
  /* 32/16 */
  padding: 0 1.25em;
  /* 20/32 */
  white-space: nowrap; }
  .nav-link:hover, .nav-link:focus, .nav-link.active {
    color: #344550; }

.menu-toggle {
  font-size: 1em;
  /* 8/8 */
  font-family: 'Fira Sans', sans-serif;
  border: 0;
  background: url("./../img/icon-menu.svg") center right no-repeat;
  background-size: 1.875em 1.375em;
  /* 30/16 */
  /* 22/16 */
  min-width: 1.875em;
  /* 30/16 */
  min-height: 1.375em;
  /* 22/16 */
  margin: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  top: 1px; }
  .menu-toggle .nav-link {
    color: #344550;
    display: block;
    padding-right: 1.875em;
    /* 60/32 */
    white-space: nowrap; }
  .menu.show .menu-toggle .nav-link {
    color: #73787D; }
    .menu.show .menu-toggle .nav-link:hover, .menu.show .menu-toggle .nav-link:focus {
      color: #344550; }

/* HERO */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("./../img/hero-bg.svg") center center no-repeat;
  background-size: contain;
  height: calc(100vh - 10em);
  /* 160/16 */
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -2em;
  /* 32/16 */ }

.hero-title {
  font-size: 6.875em;
  /* 110/16 */
  font-weight: 500;
  color: #344550; }
  .hero-title span {
    display: block;
    color: #b1c800; }

.hero-link {
  font-size: 2em;
  font-weight: 500;
  color: #73787D;
  position: absolute;
  bottom: 1em; }
  .hero-link:hover, .hero-link:focus {
    color: #344550; }
  .hero-link:after {
    content: '';
    display: block;
    margin: 0 auto;
    background: url("./../img/arrow.svg") center center no-repeat;
    background-size: 2.1875em 1.375em;
    /* 35/16 */
    /* 22/16 */
    height: 2.8125em;
    /* 45/16 */
    width: 1.375em;
    /* 22/16 */
    position: relative;
    -webkit-animation: jump 1s infinite;
    animation: jump 1s infinite; }

@-webkit-keyframes jump {
  0% {
    top: 0; }
  50% {
    top: 0.625em; }
  /* 10/16 */
  100% {
    top: 0; } }

@keyframes jump {
  0% {
    top: 0; }
  50% {
    top: 0.625em; }
  /* 10/16 */
  100% {
    top: 0; } }

/* CERTIFICATE */
.certificate .container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.certificate .item:hover .title, .certificate .item:focus .title {
  color: #4473DE; }

/* SERVICE */
.service .container {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.service .item {
  width: 33.3333333333%; }

.service .section-title {
  font-size: 50em;
  /* 800/16 */ }

/* REFERENCE */
.reference .container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.reference .item {
  cursor: pointer; }
  .reference .item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .6; }
  .reference .item:hover img,
  .reference .item:focus img {
    -webkit-filter: none;
    filter: none;
    opacity: 1; }

/* CONTACT */
.contact .container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.contact .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 0;
  margin-bottom: 2.5em;
  /* 40/16 */ }

.contact .circle {
  font-size: 4px;
  margin-top: 0; }

.contact .link,
.contact .branches a {
  color: #ffffff; }

.contact .link {
  white-space: nowrap;
  font-size: 3.125em;
  /* 50/16 */
  font-weight: 500;
  margin: 0 0 0 0.8em;
  /* 40/50 */ }

.branches ul {
  list-style: none;
  padding-left: 0;
  margin-top: 6.25em;
  /* 100/16 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .branches ul li {
    font-size: 2.1875em;
    /* 35/16 */
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .branches ul li a {
      color: #ffffff;
      position: relative;
      padding: 0;
      margin: 0 1em; }
      .branches ul li a:hover:after, .branches ul li a:focus:after, .branches ul li a.active:after {
        position: absolute;
        bottom: -0.3125em;
        /* 5/16 */
        left: 0;
        content: '';
        background: #ffffff;
        height: 1px;
        width: 100%;
        display: inline-block; }
  .branches ul .line {
    width: 5em;
    height: 1px;
    background: #ffffff; }

/* MOBILE */
@media (min-width: 1900px) {
  body {
    font-size: 16px; }
  .contact .circle {
    font-size: 6px; } }

@media (max-width: 1900px) {
  body {
    font-size: 8px; }
  .reference {
    /* 120/8 */ }
    .reference .item {
      padding: 1.25em;
      /* 10/8 */ }
      .reference .item img {
        max-width: 25em; }
    .reference .item:nth-child(3) img {
      max-width: 15em; } }

@media (max-width: 840px) {
  .header {
    background: #ffffff; }
  .menu {
    height: auto; }
  .menu .nav {
    height: 0; }
  .menu.show .nav {
    border-top: 1px solid #f7f7f7;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.98);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 10em;
    /* 80/8 */
    width: 100vw;
    padding: 1.25em 0;
    /* 10/8 */
    height: auto; }
    .menu.show .nav li {
      display: block;
      width: 100%;
      text-align: center; }
    .menu.show .nav .nav-link {
      display: block;
      padding: 0.625em 0;
      /* 5/8 */ }
  .section .container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .section .circle {
    margin-top: 3.111111111111111em;
    /* 140/45 */ }
  .service .item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100% !important; }
  .reference .item {
    padding: 0.625em;
    /* 10/16 */ }
  .contact .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact .link {
    margin: 1em 0 2em; }
  .contact .branches ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .contact .branches ul li {
      margin: 1em; }
    .contact .branches ul .line {
      display: none; } }

/*# sourceMappingURL=style.css.map */